DATABASE_URL=postgresql://postgres:TU_PASSWORD@127.0.0.1:5433/bbva_v2
JWT_SECRET=cambia_esto_por_una_cadena_larga_y_segura
JWT_EXPIRES_IN=8h
PORT=3000
NODE_ENV=development
APP_NAME=BBVA Dashboard API
APP_DESCRIPTION=API de KPIs y reportes
APP_VERSION=1.0.0
